<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>828922304188-4sm2a1gca6gjir4aolsubmq71ecjtai8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.828922304188-4sm2a1gca6gjir4aolsubmq71ecjtai8</string>
	<key>API_KEY</key>
	<string>AIzaSyD5v0x-S9LKAqn22_kKoDFUR0N2LK-Itgk</string>
	<key>GCM_SENDER_ID</key>
	<string>828922304188</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterChatApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app-c6453</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app-c6453.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:828922304188:ios:b5b9978f44ababeac1e2b9</string>
</dict>
</plist>